body {
    background-color: lightblue;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

th {
    text-align: center;
}

#errors {
    color: red;
}

p {
    margin-left: auto;
    margin-right: auto;
}

#answers {
    text-align: center;
}